body  {
  margin: 0 !important;
}
.color-body {
  background-color: white !important;
  height: 100vh !important;
}
.nav-style {
  height: 90px !important;
  width: 1440px !important;
  background-color: #b45b35 !important;
}

.logo {
  height: 72px !important;
  width: 78px !important;
}

.search {
  position: relative !important;
}

.search input {
  height: 40px !important;
  text-indent: 25px !important;
  border-radius: 20px !important;
}

.search input:focus {
  box-shadow: none !important;
  border: 2px solid red !important;
}
.search .fa-search {
  position: absolute !important;
  top: 12px !important;
  left: 16px !important;
}

.card {
  position: relative !important;
  transition: all 0.5s ease-in !important;
  cursor: pointer !important;
  height: 375px !important;
}

.card__image {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px !important;
}

.card__overlay {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important ;
  left: 0 !important;
  right: 0 !important;
  height: 100% !important;
  width: 100% !important;
  opacity: 0 !important;
  visibility: none !important;
  transition: 0.5s ease !important;
  background-color: #393839 !important;
}

.card:hover .card__overlay {
  opacity: 0.8 !important;
}

.overlay__text {
  color: white !important;
  font-size: 16px !important;
  font-weight: bold !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.font {
  font-family: "Almarai", sans-serif !important;
  font-family: "Cairo", sans-serif !important;
}

.color {
  color: #b45b35 !important;
  background-color: #b45b35 !important;
}

.card-detalis {
  height: 370px !important;
  border-radius: 20px !important;
  background-color: #f8f8f8 !important;
}
.card-story  {
  height: 300px !important;
  border-radius: 20px !important;
  background-color: #f8f8f8 !important;
}
.img-movie {
  height: 360px !important;
  padding: 10px !important;
  border-radius: 20px !important;
}

.card-text-details {
  color: #555555 !important;
  font-family: Almarai !important;
  font-size: 28px !important;
  font-weight: bold !important;
  letter-spacing: 0  !important;
  line-height: 49px !important;
}

.card-text-story {
  color: #555555 !important;
  font-family: Almarai !important;
  font-size: 18px !important;
  letter-spacing: 0 !important;
  line-height: 32px !important;
}
.card-text-title {
  color: #555555 !important;
  font-family: Almarai !important;
  font-size: 36px !important;
  font-weight: bold !important;
  letter-spacing: 0 !important;
  line-height: 49px !important;
}
.style-pag{
  display: flex;
  justify-content: center;
  padding: 12px;
}
